{extend name='./common/base' /}
{block name='reg'}
<div style="padding: 20px 20px 10px;">
    <table class="table table-striped">
        <caption>特殊情况</caption>
        <thead>
        <tr>
            <th>姓名</th>
            <th>特殊情况说明</th>
            <th>涉及其他人员</th>
            <th>时间说明</th>
            <th>完成情况</th>
        </tr>
        </thead>
        <tbody>
        {volist name="info" id="vo"}
        <tr>
            <td>{$vo.name}</td>
            <td>{$vo.content}</td>
            <td>{$vo.with}</td>
            <td>{$vo.time}</td>
            {if $vo.finish == 1}
            <td>完成</td>
            {else/}
            <td>未完成</td>
            {/if}
        </tr>
        {/volist}
        </tbody>
    </table>
</div>{/block}