{extend name='./common/base' /}
{block name='reg'}
<div style="padding: 20px 20px 10px;">
    <table class="table table-striped">
        <caption>特殊情况</caption>
        <thead>
        <tr>
            <th>特殊情况说明</th>
            <th>涉及其他人员</th>
            <th>时间说明</th>
            <th>结束</th>

        </tr>
        </thead>
        <tbody>
        {volist name="info" id="vo"}
        <tr>
            <td>{$vo.name}</td>
            <td>{$vo.content}</td>
            <td>{$vo.with}</td>
            <td>
                <form action="/tp/public/index/index/end" method="post">
                    <input type="hidden" name="content" value={$vo.content}>
                    <input type="hidden" name="with" value={$vo.with}>
                    <button type="submit" name="submit" value="submit" class="btn btn-default">已完成</button>
                </form>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>{/block}