{extend name="./common/base" /}
<!--这里是base而不是base.html-->
{block name="reg"}
{if session('uid')}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseTwo">
                通知
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            欢迎您，{:session('username')}!<br>右上角可以查看个人中心哦
        </div>
    </div>
</div>


{else/}
<div class="alert alert-warning" role="alert">
    <strong>Hello world</strong>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseTwo">
                友情提示
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            如果你不是网站管理员请速速离开！！！
        </div>
    </div>
</div>
{/if}

{/block}
